<div ng-controller="addSurveyController">
    <h2>Add survey</h2>

    <div class="input-group">
        <span class="input-group-addon" id="name">Name</span>
        <input type="text" class="form-control" placeholder="Survey name" aria-describedby="name" ng-model="survey.name">
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="description">Description</span>
        <input type="text" class="form-control" placeholder="Survey description" aria-describedby="description" ng-model="survey.description">
    </div>

    <h3>Question List</h3>

    <ul class="list-group" >
        <li class="list-group-item" ng-repeat="question in survey.questions">{{$index + 1}} . {{question.text}}</li>
    </ul>
    <div class="input-group">
            <input type="text" class="form-control" placeholder="Add the question" ng-model="newQuestion">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addQuestion()">Add!</button>
            </span>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous"><a href="#/surveys"><span aria-hidden="true">&larr;</span> Cancel</a></li>
            <li class="next"><a href="#/surveys" ng-click="addSurvey()">Add <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
