<div ng-controller="questionController">
    <h2>{{surveyName}}</h2>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
            {{progress}}%
        </div>
    </div>

    <h3>Question {{questionIndex + 1}}</h3>

    <h3>{{question.text}}</h3>

    <div class="radio" ng-repeat="answer in question.answers">
        <label><input type="radio" name="answer">{{answer}}</label>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous" ng-if="prevQuestionId"><a href="#/surveys/{{surveyId}}/question/{{prevQuestionId}}"><span aria-hidden="true">&larr;</span> Prev</a></li>
            <li class="next" ng-switch on="!!nextQuestionId">
                <a href="#/surveys/{{surveyId}}/question/{{nextQuestionId}}" ng-switch-when="true">Next <span aria-hidden="true">&rarr;</span></a>
                <a href="#/results:{{surveyId}}" ng-switch-when="false">Results <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>

</div>
