<div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
        10%
    </div>
</div>

<h1>Question 1</h1>

<h2>Do you like your office seat place?</h2>

<div>Answers</div>

<div class="radio">
    <label><input type="radio" name="answer">Yes, it is awesome</label>
</div>

<div class="radio">
    <label><input type="radio" name="answer">No, it sucks.</label>
</div>

<nav>
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Prev</a></li>
        <li class="next"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>