<div ng-controller="surveyController">
    <h2>{{survey.name}}</h2>
    <h4>{{survey.description}}</h4>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="#/surveys/{{survey.id}}/question/1">Start</a></button>
        <button type="button" class="btn btn-default"> <a href="#/results:{{survey.id}}">Results</a></button>
        <button type="button" class="btn btn-default"> <a href="#/edit:{{survey.id}}">Change</a></button>
    </div>
</div>
